# Patterns to ignore when packaging Helm charts.
.DS_Store
*.swp
*.bak
*.tmp
*.orig
*.old
*.log
*.lock
*.gz
*.tgz
*.zip
*.zst
*.o
*.a
*.so
*.exe
*.out
*.obj
.idea/
.project
.settings/
*.iml
*.class
*.jar
*.war
*.ear
*.tar
*.gz
*.tgz
*.zip
*.zst
*.rpm
*.deb
*.npm
node_modules/
npm-debug.log
yarn.lock
yarn-error.log
package-lock.json
dist/
